<div class="board">
  <ng-template
    ngFor
    let-cell
    [ngForOf]="cells"
    let-index="index"
    [ngForTrackBy]="trackByIndex"
  >
    <app-cell [value]="cell" (cellClick)="handleClick(index)"></app-cell>
  </ng-template>

  <!-- <ng-container
    *ngFor="let cell of cells; let index = index; trackBy: trackByIndex"
  >
    <div>
      <app-cell [value]="cell" (cellClick)="handleClick(index)"></app-cell>
    </div>
  </ng-container> -->

  <div class="message">
    @if (winner) {
    <div class="winner">Player {{ winner }} won the game!</div>
    }

    <button (click)="restartGame()">Play Again</button>
  </div>
</div>
